.bgimg{
   background-image: url('../Images/pic1.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100%;
   height: 650px; 
}
/* .hearderset{
    padding-top: 450px;
    box-sizing: border-box;
}
.hearderset h1{
    font-size: 72px;
    font-weight: bold;
    color: skyblue;
} */
.portfolio h1{
    font-size: 50px;
    font-weight: bold;
}
.card{
 margin-top: 40px;
}

.footer{
    height:50px;
}
.footer h6{
    line-height: 50px;
}

@media(min-width:992px){}
@media(min-width:768px) and ( max-width:991px){}
@media(min-width:575px)and ( max-width:767px){}
@media(min-width:460px)and ( max-width:574px){}
@media(min-width:479px){
    .portfolio{
        height: 2700px;
    }
}